<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <ul>
        @section item{
           
            <li>
                <span>name:</span>@DataContext.Name
                <span>Email:</span>@DataContext.EMail
            </li>

        }
        @EachSection("item", Model.Items)
    </ul>
</body>
</html>
